<div class="container mt-4">
  <h2 class="text-primary"><i class="bi bi-bag-check text-dark"></i> Registrar Venta</h2>

  <!-- BUSCAR CLIENTE POR DNI -->
  <div class="row g-3 align-items-end">
  <!-- Input para buscar por DNI -->
  <div class="col-md-4">
    <label for="dni" class="form-label">Buscar cliente por DNI o Telefono:</label>
    <input
      type="text"
      id="dni"
      class="form-control"
      [(ngModel)]="valorBusqueda"
      name="dniCliente"
      class="form-control  shadow-sm"
      placeholder="Ingrese DNI o Telefono"
    />
  </div>

  <!-- Botón de búsqueda -->
  <div class="col-md-2">
    <button class="btn btn-primary w-100 " 
    style="font-weight: 600; letter-spacing: 0.03em; border-radius: 0.375rem; box-shadow: 0 2px 6px rgba(13,110,253,0.3); transition: box-shadow 0.2s ease;" (click)="buscarCliente()"
    >Buscar</button>
  </div>

  <!-- Botón para registrar cliente si no existe -->
  <div class="col-md-3">
    <button
      class="btn btn-success w-100"
      data-bs-toggle="modal"
      data-bs-target="#modalCliente"
    >
      Registrar cliente
    </button>
  </div>
  <div *ngIf="loadingCliente" class="mt-4">
  <div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
    <div class="text-center">
      <div class="spinner-border text-info" style="width: 5rem; height: 5rem;" role="status"></div>
      <p class="mt-2">Cargando datos...</p>
    </div>
  </div>
</div>
</div>




 <!-- Datos del cliente encontrados -->
<!-- Datos del cliente encontrados -->
<div class="row mt-4" *ngIf="cliente">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0"><strong>Datos del Cliente</strong></h4>
    <!-- Botón para abrir el modal -->
    <button 
      class="btn btn-warning btn-md px-4 shadow-sm" 
      data-bs-toggle="modal" 
      data-bs-target="#ventaModal"
      style="font-weight: 600; letter-spacing: 0.5px;">
      <i class="bi bi-cart-plus me-2"></i> Registrar Venta
    </button>
  </div>

  <!-- Card izquierda -->
  <div class="col-md-6 mb-3 d-flex">
    <div class="card shadow-sm border-0 w-100 h-100">
      <div class="card-body">
        <p><strong>Nombre:</strong> {{ cliente.nombre }} {{ cliente.apellidos }}</p>
        <p><strong>DNI:</strong> {{ cliente.dni }}</p>
        <p><strong>Email:</strong> {{ cliente.email }}</p>
        <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
      </div>
    </div>
  </div>

  <!-- Card derecha -->
  <div class="col-md-6 mb-3 d-flex">
    <div class="card shadow-sm border-0 w-100 h-100">
      <div class="card-body">
        <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
        <p><strong>Departamento:</strong> {{ cliente.departamento }}</p>
      </div>
    </div>
  </div>

  <!-- Historial de ventas del cliente -->
  <app-listado-ventas 
    [clienteId]="cliente.cliente_id" 
    [mostrarResumen]="false">
  </app-listado-ventas>
</div>





<!-- Modal -->
<div class="modal fade" id="ventaModal" tabindex="-1" aria-labelledby="ventaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      
      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="ventaModalLabel">
          <i class="bi bi-shop text-dark"></i> Agregar Productos
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      
      <!-- Body -->
      <div class="modal-body">
        <div >
          
          <!-- Tipo de Pago y Producto -->
          <div class="row">
            <!-- Producto -->
            <div class="mb-3 col-md-6">
              <label class="form-label">Producto:</label>
              <select class="form-select mb-3" [(ngModel)]="productoSeleccionadoId" name="productoSeleccionadoId">
                <option *ngFor="let p of productos" [value]="p.producto_id">
                  {{ p.nombre }} - S/ {{ p.valor_venta }}
                </option>
              </select>
            </div>
            <!-- Canal de Venta -->
            <div class="mb-3 col-md-3">
              <label class="form-label">Canal de Venta:</label>
              <select class="form-select" [(ngModel)]="canalVentaSeleccionado" name="canalVentaSeleccionado">
                <option value="">Seleccione un canal</option>
                <option value="shopify">Shopify</option>
                <option value="whatsApp">Whatsapp</option>
                <option value="referido">Referido</option>
                <option value="fidelizado">Fidelizado</option>
              </select>
            </div>
          </div>

          <!-- Precio y Cantidad -->
          <div class="row mb-3">
            <div class="col-6 col-md-2">
              <label class="form-label">Precio de Venta (S/):</label>
              <input type="number" step="0.01" class="form-control" [(ngModel)]="precioVentaSeleccionado"
                name="precioVentaSeleccionado" placeholder="Ej: 70.00" [min]="1" />
            </div>
            <div class="col-6 col-md-2">
              <label class="form-label">Cantidad:</label>
              <input type="number" class="form-control" [(ngModel)]="cantidadSeleccionada" name="cantidad"
                [max]="stockDisponible" [min]="1" />
              <small class="text-muted">Stock: {{ stockDisponible }}</small>
            </div>
          </div>

          <!-- Botón agregar -->
          <div class="mb-3">
            <button class="btn btn-primary" (click)="agregarProducto()">Agregar</button>
          </div>
          <hr />

          <!-- Lista de productos -->
          <table class="table table-striped mt-3" *ngIf="productosVenta.length > 0">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of productosVenta; let i = index">
                <td>{{ p.nombre }}</td>
                <td>{{ p.cantidad }}</td>
                <td>S/ {{ p.valor_venta }}</td>
                <td>S/ {{ p.valor_venta! * p.cantidad }}</td>
                <td><button class="btn btn-danger btn-sm" (click)="quitarProducto(i)">Quitar</button></td>
              </tr>
            </tbody>
          </table>

          <!-- Comentario y total -->
          <div class="mb-3 form-floating">
            <textarea class="form-control" id="comentarioVenta" name="comentarioVenta" rows="3"
              [(ngModel)]="comentarioVenta" placeholder="Ingrese detalles adicionales..."
              style="height: 100px"></textarea>
            <label for="comentarioVenta">Comentario de la venta:</label>
          </div>

          <div class="d-flex justify-content-between align-items-center my-3">
            <h4>Total: S/ {{ calcularTotal() }}</h4>
            <button class="btn btn-warning" [disabled]="!cliente || productosVenta.length === 0 || !canalVentaSeleccionado"
              (click)="registrarVenta()" data-bs-dismiss="modal">Registrar Venta</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


 

<!-- Mensaje de error -->
  <div *ngIf="!loadingCliente && ErrorBusqueda" class="alert alert-danger mt-3">
    {{ ErrorBusqueda }}
  </div>

</div>





<!-- MODAL REGISTRAR CLIENTE -->
<div class="modal fade"  id="modalCliente" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="registrarClienteForm" (ngSubmit)="guardarCliente()" class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Registrar Cliente</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    
    <div class="mb-2">
      <label>DNI</label>
      <input type="text" class="form-control" formControlName="dni" />
      <small class="text-danger" *ngIf="registrarClienteForm.get('dni')?.invalid && registrarClienteForm.get('dni')?.touched">
        Falta DNI y debe tener al menos 8 dígitos.
      </small>
    </div>

    <div class="mb-2">
      <label>Nombres</label>
      <input type="text" class="form-control" formControlName="nombre" />
      <small class="text-danger" *ngIf="registrarClienteForm.get('nombre')?.invalid && registrarClienteForm.get('nombre')?.touched">
        El nombre es obligatorio
      </small>
    </div>

    <div class="mb-2">
      <label>Apellidos</label>
      <input type="text" class="form-control" formControlName="apellidos" />
      <small class="text-danger" *ngIf="registrarClienteForm.get('apellidos')?.invalid && registrarClienteForm.get('apellidos')?.touched">
        Los apellidos son obligatorios.
      </small>
    </div>

    <div class="mb-2">
      <label>Teléfono</label>
      <input type="text" class="form-control" formControlName="telefono" />
      <small class="text-danger" *ngIf="registrarClienteForm.get('telefono')?.invalid && registrarClienteForm.get('telefono')?.touched">
        El teléfono es obligatorio  y debe tener al menos 9 dígitos..
      </small>
    </div>

    <div class="mb-2">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" />
      <small class="text-danger" *ngIf="registrarClienteForm.get('email')?.invalid && registrarClienteForm.get('email')?.touched">
        El correo no es válido.
      </small>
    </div>

    <div class="mb-2">
      <label>Dirección</label>
      <input type="text" class="form-control" formControlName="direccion" />
      <small class="text-danger" *ngIf="registrarClienteForm.get('direccion')?.invalid && registrarClienteForm.get('direccion')?.touched">
        La dirección es obligatoria.
      </small>
    </div>
     <div *ngIf="mensajeError" class="alert alert-danger text-center" role="alert">
      {{ mensajeError }}
    </div>
    <div class="mb-2">
      <label>Departamento</label>
      <select class="form-control" formControlName="departamento">
        <option value="">Seleccione un departamento</option>
        <option *ngFor="let dep of departamentos" [value]="dep">
          {{ dep }}
        </option>
      </select>
      <small class="text-danger"
        *ngIf="registrarClienteForm.get('departamento')?.invalid && registrarClienteForm.get('departamento')?.touched">
        El departamento es obligatorio.
      </small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-success" [disabled]="registrarClienteForm.invalid">Guardar Cliente</button>
  </div>
    </form>
</div>
</div>




